@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

/************************************************************************************  LAYOUT  ********************************************************************************************************/


html {
    /font-size: 1em;/
  font-size: 0.875em;




}
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
    font-size: calc(0.875em + 0.375 * (100vw - 64em) / 56); /* 1 */
    font-size: -webkit-calc(87.5% + 0.375 * (100vw - 6400%) / 56); /* 2 */
    font-size: -ms-calc(0.875em + 0.375 * (100vw - 64em) / 56); /* 3 */
}

@media screen and (min-width: 64em) {
        html {
            font-size: calc(0.875em + 0.375 * (100vw - 64em) / 56); /* 1 */
            font-size: -webkit-calc(87.5% + 0.375 * (100vw - 6400%) / 56); /* 2 */
            font-size: -ms-calc(0.875em + 0.375 * (100vw - 64em) / 56); /* 3 */
        }
}
@media screen and (min-width: 120.2em) {
        html {
            font-size: 1.375em;
        }
}

body {

  height:100%;
  width:100%;
  margin:0 0 0 0 !important;
  padding:0 0 5rem 0 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  background:#f9f9f9; 


}

header {

  display: table;
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  padding: .5rem;
  background-color:#f1f1f1;
  margin-bottom: 1rem;
  background-image: linear-gradient(to bottom, #666, #000);

}

header a {

  color: #fff;
  background:rgba(0,0,0,0.2);
  padding: .5rem 1rem !important;
  margin-right: .5rem;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 12px;
  margin-top: .5rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
 /* transition: all ease-in-out 0.3s;*/
}

header a:hover {

  background:rgba(0,0,0,0.8);
  color: #ccc;
}

header h4 a {

  color: #7fff00;
  padding: .5rem 1rem !important;
  margin-right: 1rem;
  border: 0px solid #333;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 300;
  background:rgba(0,0,0,0.0);
  font-family: 'Gaegu', cursive;
  text-transform: none;
}

ol {

  list-style-type: upper-latin;
  padding-left: 2rem;
}

ul {
  padding: 1rem;
  list-style: none;
}

h1, h2, h3, h4, h5 {

  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  font-weight: 700;


}

a.back {font-size: 26px; }

.alert-box {


  padding: .8rem 1.5rem;
  display: table;
  position: relative;
  clear: both !important;
  margin:.5rem auto;
  background-color: #cc4b37;
  color: #fff;
  width: 50%;
  text-align: center;
  box-sizing: unset;
}

.txt-align-right { text-align: right; }

.aluno-linha {

  background-color: #1779ba;
  color: #fff;
  font-size: 20px;

}


/************************************************************************************  QUERYS  ********************************************************************************************************/

/************************************************************************************  DESKTOPS  ********************************************************************************************************/

/* TELA 1 1680x1024*/
@media only screen and (max-width: 1686px) {



}
/* TELA 3 1440x900*/
@media only screen and (max-width: 1444px) {


}
/* TELA 3 1366x768*/
@media only screen and (max-width: 1380px) {



}
/* TELA 4 1280x800*/
@media only screen and (max-width: 1299px) {



}

/* TELA 4 1280x800*/
@media only screen and (max-width: 1201px) {



}
/************************************************************************************  TABLET  ********************************************************************************************************/
@media only screen and (max-width: 1026px) {

}

@media only screen and (max-width: 770px){


}
/************************************************************************************  MOBILE  ********************************************************************************************************/

/* IPHONE 6 PLUS*/
@media only screen and (max-width: 645px) {

}
  

}
/* IPHONE 6 */
@media only screen and (max-width: 480px) {


}
/* ANDROID */
@media only screen and (max-width: 388px) {



}

/* IPHONE 5*/
@media only screen and (max-width: 328px) {

}

